{% extends 'edit/edit_base.html' %}

{% block head %}
{% endblock %}


{% block right_column %}
<div>
    <h1>Třída {{ class_name }}</h1>
    <table class="student-table">
        <tr>
            <th>id</th>
            <th>Jméno</th>
            <th>Kód</th>
            <th>RFID</th>
        </tr>
        {% for student_ in students %}
        <tr>
            <td><a href="{{ url_for('edit_student', student_id=student_.id) }}">{{ student_.id }}</a></td>
            <td><a href="{{ url_for('edit_student', student_id=student_.id) }}">{{ student_.name }}</a></td>
            <td>{{ student_.code }}</td>
            <td>{{ student_.rfid }}</td>
        </tr>
        {% endfor %}
    </table>    
</div>
<div class="edit-student">
    <h1>{{ student.name }}</h1>
    <form method="POST" action="">
        <input id="rfid-input" name="rfid" value="{{ student.rfid }}" autofocus><br><br>
        <input type="submit">
    </form>
    <a id="next-button" href="{{ url_for('edit_student', student_id=student.id+1) }}"><div>></div></a>
</div>

<script>
    // document.getElementById("{{ class_name }}").classList.add('active')
</script>

<style>
    #next-button {
        text-decoration: none;
        font-size: 4rem;
        color: var(--text-color);
        position: absolute;
        bottom: 1rem;
        right: 1rem;
        border: 1px solid var(--text-color);
        width: 4rem;
        text-align: center;
        border-radius: var(--border-radius);
    }
    #next-button:hover {
        background-color: var(--button-hover-color);
    }
</style>

<script>
    document.querySelector("#rfid-input").focus()
    document.querySelector("#rfid-input").select()
</script>

{% endblock %}