{% extends 'edit/edit_base.html' %}

{% block head %}
{% endblock %}


{% block right_column %}
<h1>Editování záznamů pro třídu {{ class_name }}</h1>
<table class="student-table">
    <tr>
        <th>id</th>
        <th>Jméno</th>
        <th>Kód</th>
        <th>RFID</th>
    </tr>
    {% for student in students %}
    <tr>
        <td><a href="{{ url_for('edit_student', student_id=student.id) }}">{{ student.id }}</a></td>
        <td><a href="{{ url_for('edit_student', student_id=student.id) }}">{{ student.name }}</a></td>
        <td>{{ student.code }}</td>
        <td>{{ student.rfid }}</td>
    </tr>
    {% endfor %}
</table>

<script>
    document.getElementById("{{ class_name }}").classList.add('active')
</script>

{% endblock %}