<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" , shrink-to-fit="no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/write.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body onclick="restoreFocus(document.getElementById('rfid-input'))">
    <div class="write-wrapper">
        <input id="rfid-input" type="text" class="rfid-input" autocomplete="off" autofocus="" onblur="restoreFocus(this)" placeholder=""
        name="rfid" hx-post="{{ url_for('write') }}" hx-target="#write-result" hx-trigger="keyup[target.value.length > 0] delay:200ms"
        hx-on::after-request="onInputChange(this)">
        <div hx-trigger="keyup[target.value.length > 0] from:#rfid-input delay:200ms" hx-post="{{ secondary_server }}{{ url_for('write') }}/"></div>
        <div id="write-result"></div>
    </div>
</body>

<script src="{{ url_for('static', filename='js/write.js') }}"></script>

</html>