{% extends 'view/view_base.html' %}

{% block head %}
{% endblock %}


{% block right_column %}
<div>
    <h1>Třída {{ class_name }} - {{ date }}</h1>
    <table class="student-table">
        <tr>
            <th>Jméno</th>
            <th>Čas příchodu</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ prichody[student.id] }}</td>
        </tr>
        {% endfor %}
    </table>    
</div>
<script>
    document.getElementById("radio_{{ class_name }}").checked = true;
    document.querySelector('input[type="date"]').value = "{{ date }}";
</script>
{% endblock %}