:root {
    --result-color: var(--left-column-bg);
    --ok-color: lightgreen;
    --late-color: red;
}

.rfid-input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#write-result {
    background-color: var(--result-color);
    width: 50vw;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    border-radius: 100vw;
    font-size: 3rem;
}

#write-result .time {
    font-size: 2rem;
}

#write-result .time.ok {
    color: var(--ok-color);
}

#write-result .time.late {
    color: var(--late-color);
}

.write-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: none;
    height: 100vh;
    width: 100vw;
}

#secondary-server-result {
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    font-size: 10px;
}