<!DOCTYPE html>
<html lang="cs">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0", shrink-to-fit="no">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</head>

<body>
    <style>
        .content {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <div class="content">
        <div style="display: flex;align-items: center;flex-direction: column;">
            <h1>PŘÍCHODOVÝ SYSTÉM</h1>
            <div style="max-width: min(100%, 400px);padding: 8px;">
                Docházku pro daný den prosím zapisujte nejdříve <b>po 16:00</b> - do té doby nemusí být kompletní.<br><br>
                Do systému přistupujte nejlépe z počítače, na telefon není dělaný. <br><br>
                Vyhledávání studentů je citlivé na diakritiku.
            </div>
        </div>
        <nav>
            <a href="{{ url_for('view') }}"><h1 style="font-size: 2rem;">Prohlížení absence</h1></a>
            {% if current_user.admin %}
            <a href="{{ url_for('write') }}"><h1>Zápis příchodů</h1></a>
            <a href="{{ url_for('edit') }}"><h1>Edit databáze čipů</h1></a>
            {% endif %}
        </nav>
        <p>uživatel: <b>{{ 'Učitel' if current_user.username == 'ucitel' else current_user.username}}</b> - <small><a href="{{ url_for('logout') }}">odhlásit</a></small></p>
    </div>
</body>
<footer style="position: absolute;bottom: 4px;left: 4px;">
    <small>Čeněk Potužník, <a href="mailto:email@potuznik.dev">email@potuznik.dev</a>, <a href="https://github.com/cenekp74">github</a></small>
</footer>
</html>